@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media only screen and (max-width: 520px){
  .side-container{
    min-width: 100%;

    & ul{ 
      align-items: center;

      & li{
        width: auto;
        display: flex;
        justify-content: center;

      }
    }
  }
  
  .ad-venue li{
    max-width: 410px;
    max-height: none;

    & img{aspect-ratio: 1/1;}
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF3F3;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #111;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.menu-bg {
  background: #1BB9FA;
}

.menu {

  min-height: 3.75rem;
  margin: 0 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  & a{
    color: #FBFEFF;
  }
}

/* .menu-logo{
    margin: 0 10px;
    align-self: ;
} */

.menu-nav {
  height: 100%;
  align-items: center;

  & ul {
    height: inherit;
    margin: 0 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & li {
      max-width: 100%;
      
      & a{
        color: #FBFEFF;
      }
    }
  }
}

.menu-item {
  max-width: 150px;

  & a {
    padding: 0.5rem;
    font-size: 1.25em;
    display: block;
  }
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: calc(100vh - 3.75rem);
}

.side-container {
  flex: 1;
  background: #C3EEFF;
/*   min-width: 100px; */
  max-width: 220px;
  max-height: 100%;
}

.side-menu, .ad-venue{
  padding: 1.25em 1.25rem;
  height: 100%;
}
.side-menu li {
    min-width: 180px;
    font-size: 1.2em;
    line-height: 1.5;
    
    & a {
      padding: 10px 0;
      display: block;
    }
}

.side-menu li + li {
border-top: 2px solid;
}

.ad-venue{
display: flex;
flex-direction: column;
justify-content: space-between;

& li{
    background-color: gold;
    width: 180px;
    max-height: 180px;
}

li + li{
    margin-top: 10px;
}
}
  
/* TODO: */
@media only screen and (min-width: 521px) and (max-width: 730px) {
    .small-screen-ad{
    /* width: 100vw;  */
    max-width: none;
    }
    
    .ad-venue{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
        & li{
            width: 270px;
        }

        li + li{
            margin: 0;
        }
    }
}

.content {
  flex: 4;
  min-width: 275px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  & .content-item{
    margin: .5rem 0;
  }
}
  
.first-peak {
  min-width: 210px;
  max-width: 613px;
  margin: 0 auto 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greetings {
    margin: .5rem 0 1.5rem;

  & p {
    font-size: 1.75rem;
    font-weight: 600;
    font-style: oblique;
  }
}

.tip-display {
  background-color: #FFD9CD;
  margin: 0 auto;
  padding: 0.5rem;
  border: 2px outset #AFFFE2;
  border-radius: 1rem;

  font-size: 1.25rem;
  font-style: italic;
  color: #3b3b3b;
}

.content-container {
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.card {
  flex: 1 1 450px;
  display: flex;
  flex-direction: column;
  max-width: 455px;

  & .card-title {
    padding: 0 0.5rem;
    min-width: max-content;

    & h3 {
      font-size: 1.25rem;
    }
  }

  .card-content {
    background-color: #FFD9CD;
    padding: 0.5rem;
    flex: 1;
    border-radius: 1rem;
  }
}

.challenge-daily .card-content,
.reflection-prompt .card-content{
    border-top-left-radius: 0;
}
.challenge-weekly .card-content,
.placeholder .card-content{
    border-top-right-radius: 0;
}

.reflection-prompt .card-content p {
  font-style: oblique;
  font-size: 1.25rem;
  color: #111;
}

.challenge-daily .card-content,
.challenge-weekly .card-content {
  min-height: 10rem;
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  gap: 10px 0;

  & ul {
    list-style: disc;
    list-style-position: inside;
  }

  p {
    font-weight: 450;
  }
}
