*{
    font-family: ;
    box-sizing: border-box;
}
main{
    height: calc(100vh - 3.5rem);
}

@media screen and (max-width: 1245px) {
    .minwfix{
        width: 100%;
    }        
}



.cardfix{
    height: 60%;
    border-radius: 1.5rem;
}
.cardfix1{
    border-top-left-radius: 0;
}
.cardfix2{
    border-top-right-radius: 0;
}


.blocktd{
    height: 33.33%;
}

.dividebl{
    column-gap: 5rem;
}


.a{
    background-color: blueviolet;
}