.sidenavToggle{
    z-index: 10;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


@media screen and (max-width: 992px) {
    p{
        font-size: 14px;
    }
    
    .sidenav{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;
    }
  
}


@media screen and (max-width: 768px) {
       
}


@media screen and (max-width: 576px) {
    
    p{
        font-size: 12px;
    }

}